@import url("https://fonts.googleapis.com/css2?family=Poppins");
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(75deg, #2193b0, #6dd5ed);
    display: flex;
    justify-content: center;
}

.picture{
    width: 200px;
    height: 250px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    right: 0px;
    overflow: hidden;
    border: 5px solid #2193b0;
    transform: scale(0.5);
}
.head{
    width: 100px;
    height: 100px;
    background: #2193b0;
    border-radius: 50%;
}
.body{
    width: 250px;
    height: 250px;
    position: absolute;
    background: linear-gradient(75deg, #2193b0, #6dd5ed);
    border-radius: 50%;
    top: 39.09%;
    border: 2px solid #000;
}

.text{
    width: fit-content;
    height: fit-content;
    font-stretch: 2;
    font-size: 2.4em;
}
.circle-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1000;
}
.circle1{
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.9;
}
.circle2{
    width: 120px;
    height: 120px;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0.5;
    position: relative;
    left: 20px;
}
.navigation{
    width: 70px;
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    background: rgba(51, 51, 51, 0.3);
    box-sizing: initial;
    border-left: 5px solid rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    transition: width 0.5s;
    overflow-x: hidden;
    box-shadow: 0 8px 32px 0 #000;
}
.navigation:hover{
    width: 275px;
    background: rgba(51, 51, 51, 0.8);
    z-index: 2;
}
.navigation ul{
    width: 100%;
    position: absolute;
    padding-left: 5px;
    padding-top: 40px;
    top: 0;
    left: 0;
}
.navigation ul li{
    width: 100%;
    list-style: none;
    position: relative;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60x;
    line-height: 60px;
    text-align: center;
    top: 5px;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.5em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.navigation ul li.active{
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navigation ul li.active a{
    color: #333;
}
body.active{
    background: rgba(4, 7, 7, 1.0);
}

/*toggle*/
.container{
    height: 130px;
    width: 150px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 30px);
    transition: 0.3s;
    border: 2px dotted #cc2b5e;
    transform: scale(2.0);
}
.container:hover{
    display: flex;
}
.container ul li{
    list-style: none;
    text-decoration: none;
    transition: .5s;
}
.container ul li a{
    text-decoration: none;
    color: WHITE;
}

.container ul li:hover, .container ul li:hover a{
    transform: translateX(10px);
}
