@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(102, 255, 180, 0.5);
}
.section1, .section2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.resistbackground{
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: absolute;
    top: 40%;
}
.background {
    position: absolute;
    top: 55%;
    left: -65%;
    width: 500vh;
    height: 500vh;
    background-color: rgba(0,170,255,0.45);

    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
}
    /*animation : name duration iteration-count*/
    
@keyframes example {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading{
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    animation: loading_rotate 5s linear infinite;
}
@keyframes loading_rotate{
    to{
        transform: rotate(360deg);
    }
}
.loading span{
    width: 64px;
    height: 64px;
    margin: 4px;
    animation: span_scale 1.5s linear infinite;
}
@keyframes span_scale{
    50%{
        transform: scale(1.2);
    }
}
#span1{
    border-radius: 50% 50% 5% 50%;
    background-color: rgba(150, 0, 0, 0.7);
    transform-origin: bottom right;
    animation-delay: .5s;
}
#span2{
    border-radius: 50% 50% 50% 5%;
    background-color: rgba(0, 150, 0, 0.7);
    transform-origin: bottom left;
    animation-delay: 1s;
}
#span3{
    border-radius: 50% 5% 50% 50%;
    background-color: rgba(0, 0, 150, 0.7);
    transform-origin: top right;
    animation-delay: 1.5s;
}
#span4{
    border-radius: 5% 50% 50% 50%;
    background-color: rgba(30,30,31, 0.7);
    transform-origin: top left;
    animation-delay: 2s;
}
