@import url("https://fonts.googleapis.com/css2?family=Poppins");
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}
body{
    min-height: 100vh;
    background: linear-gradient(#ffc3a0, #ffafbd);
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    top: 10px;
    width: 99%;
    height: 30px;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}
.center{
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right a .icon, .left a .icon{
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.right a .icon ion-icon, .left a .icon ion-icon{
    font-size: 1.4em;
    color: black;
}
section a .icon ion-icon{
    color: rgba(255, 255, 255, 0.3);
    font-size: 12em;
}
.navigation{
    width: fit-content;
    height: 60px;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: absolute;
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 #fff;
    backdrop-filter: blur( 4px );
    overflow-x: hidden;
    box-sizing: border-box;
    transition: width 0.5s;
}
.navigation a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation a .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation a .icon ion-icon{
    font-size: 1.9em;
}
.darkTheme{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 100px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkTheme ion-icon{
    font-size: 2rem;
}
.darkTheme.active{
    background: white;
}
body.active{
    background: #4c477d;
}
.navigation.active:hover{
    transition: 0.5s;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.79);
    transform: scale(1.17);
}
.navigation.active:hover a .icon ion-icon{
    color: black;
    font-size: 1.9em;
}
header.active:hover{
    background: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
section.active:hover a .icon ion-icon{
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
    font-size: 14em;
}
section.active:hover a .icon ion-icon:hover{
    color: black;
}
@media (max-height){
    
}
